.form-group {
  margin: 15px !important;
}


body {
    background-color: #292929 !important;
    font-family: source-sans-pro, sans-serif !important;
  }
  
  h1 {
    margin-left: auto;
    text-align: center;
    font-weight: 100 !important;
    font-size: 2.8em;
    color: #ffffff;
  }

  h4 {
    margin-left: auto;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
    color: #ffffff;
  }
  
  div {
    max-width: 500px;
    margin: auto;
  }
  
  .formStyle { 
    background-color: #292929;
    padding: 20px; 
    width: 75%; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
  }

.formButton {
    background-color:#292929;
	border-radius:37px;
	border:2px solid #292929;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
    width: 200px;
	text-decoration:none;
    margin-bottom: 20px;
    color: #ffffff;
    border-color: #ffffff;
}

.formButton:hover {
    background-color:#ffffff;
    color:#2ecc71;
    border-color: white;

}

.formButton:active {
	position:relative;
	top:1px;
}
  
  input:focus {
    outline: none;
  }
  
  ::-webkit-input-placeholder {
     color: #ecf0f1;
  }
  
  :-moz-placeholder {
     color: #ecf0f1;  
  }
  
  ::-moz-placeholder {
     color: #ecf0f1;  
  }
  
  :-ms-input-placeholder {  
     color: #ecf0f1;  
  }